body {
  background: #f7f7f7;
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.2s ease all;
}

a:hover {
  color: #6441A4;
}

.fa-twitch {
  color: #6441A4;
}

#info {
  width: 800px;
}

#more-info {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info a {
  color: #6441A4;
}

.info p {
  margin: 0;
}

.info h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.info__author {
  text-align: right;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);

  color: #333;
  text-decoration: none;
  transition: 0.2s ease all;
}

.card:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.07);
}

.card img {
  width: 100%;
}

.card .card__content {
  padding: 0px 20px 5px;
}

.card .card__content h2 {
  font-size: 24px;
}

.card .card__info {
  display: flex;
  justify-content: space-between;
}

/* Just to target the kofi button */
.btn-container {
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 100000;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    text-align: center;
  }

  .info {
    flex-flow: column wrap;
  }

  .info__author {
    text-align: center;
  }

  .info__author h3 {
    margin-bottom: 20px;
  }
}
